body {
    font-family: Arial, sans-serif;
    background-color: #a4a4a4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    width: 450px;
    background-color: #d1d1d1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
    margin-bottom: 185px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    cursor: pointer;
}

h1:hover {
    color: black;
    cursor: pointer;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 10px;
    text-align: center;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
}

input[type="number"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #9b9b9b;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #3b3b3b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: black;
}

#result {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.theme-button-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

#theme-button {
    padding: 10px;
    background-color: #3b3b3b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#theme-button:hover {
    background-color: black;
}

footer {
    background-color: #3b3b3b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.dark-theme {
    background-color: #1b1b1b;
}